@import '../mixin';
@import '../variables.scss';

.cards {
  width: 70%;
  margin: 30px auto;
}

.ant-tabs-nav-list {
  display: flex;
}

.ant-tabs-tab {
  background-color: $white;
  color: $dark-grey;
  font-weight: 900;
  font-size: 18px;
  line-height: 128.47%;
  width: 148px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  border: none;

  &.ant-tabs-tab-active {
    background: linear-gradient(158.35deg,$bule 0,$dark-purple 113.59%);
    color: $white;
  }
}

.ant-tabs-tab-btn {
  outline-color: transparent;
}

.ant-tabs-nav-list {
  position: relative;

  &:after {
    background: linear-gradient(158.35deg, $bule 0, $dark-purple 113.59%);
    content: '';
    width: 100%;
    height: 1px;
    bottom: 0;
    position: absolute;
  }
}

.ant-tabs-tabpane-active {
  &:focus {
    outline-color: transparent;
  }
}

.banner {
  position: relative;
  background-blend-mode: overlay;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;

  &.mobile {
    padding: 20px;
    background: linear-gradient(136.04deg, $bule -0.78%, $dark-purple 92.66%);

    .mobile-nav {
      display: flex;
      justify-content: space-between;

      svg {
        color: white;
        height: 35px;
        width: 23px;
      }
    }

    .spotlight-text {
      background-color: $bule;
      color: $white;
      display: block;
      padding: 10px 16px;
      text-decoration: none;
      border-radius: 20px;
      width: 100px;
      margin-top: 12px;
    }

    .card {
      width: 310px;
      margin-right: 20px;
      height: 350px;
      margin-top: 15px;

      .card-body {
        text-align: center;
        padding: 7px 25px;
        color: $bule;

        .card-title {
          color: #242323;
          display: block;
          font-size: 21px;
          font-weight: 500;
          margin-bottom: 28px;
        }

        .category-text {
          color: inherit;
          display: block;
          font-size: 15px;
          font-weight: 500;
          line-height: 19px;
          margin-bottom: 5px;
        }

        .card-readMore {
          color: inherit;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px;
        }
      }
    }

    .featured-cards {
      overflow-x: auto;
      overflow-y: hidden;

      .card-ele {
        display: inline-flex;
      }
    }
  }

  &.desktop {
    position: relative;
    background-image: url('https://s4.scoopwhoop.com/anj2/60547185c8d1115b02424f3a/77808a56-3907-44bd-a6f2-e270996c225c.jpg'),
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    object-fit: contain;
  }

  .header-article {
    display: block;
    position: absolute;
    top: 250px;
    z-index: 99;
    width: 70%;
    margin-left: 40px;
    cursor: pointer;

    .header-text {
      color:$white;
      text-decoration: none;
      font-size: 31px;
      font-weight: 600;
    }

    .header-category {
      background: linear-gradient(136.04deg,$bule -0.78%, $dark-purple 92.66%)
        no-repeat;
      color: $white;
      display: inline-block;
      font-size: 13px;
      font-weight: 700;
      line-height: 19px;
      margin-bottom: 20px;
      padding: 1px 15px;
      text-decoration: none;
      text-transform: uppercase;
    }

    .header-read {
      font-size: 17px;
      font-weight: 500;
      display: inline-block;
      margin-top: 15px;
      background: -webkit-linear-gradient($bule,$dark-purple);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  header {
    padding: 20px 40px;

    .navlist-left {
      display: flex;
      margin-top: 15px;
      margin-right: 117px;
      justify-content: space-around;

      &.right {
        margin-right: 15px;
        justify-content: space-between;
      }

      .nav-item {
        font-size: 15px;
        font-weight: 700;
        color: $bule;
        text-transform: uppercase;
        justify-content: space-evenly;
        cursor: pointer;
        min-width: 30px;
        max-width: 30px;

        &:hover {
          font-size: 17px;
          font-weight: 900;
          color: $bule;
          transform: scale(1);
          transition: transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
        }

        &.nav-item-sticky {
          color: $brown;
          margin-top: -10px;
          &:hover {
            color:$brown;
          }
        }
      }

      .icons-sticky {
        margin-top: -15px;
        margin-left: 15px;
      }

      .icon {
        margin-left: 15px;
        margin-top: -5px;
      }
    }

    svg {
      color: $bule;
      cursor: pointer;
      font-weight: 900;
      font-size: 18px;
      min-width: 30px;
      max-width: 30px;

      &:hover {
        font-size: 21px;
        font-weight: 900;
        color:$bule;
        transform: scale(1);
        transition: transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
      }
    }
  }

  ::after ::before {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 0,
      rgba(30, 30, 30, 0) 58.02%
    );
  }
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: $white;
  height: 75px;
  width: inherit;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.1s linear;
}

.footer {
    position: fixed;
    display: flex;
    background: linear-gradient(156.31deg,$dark-purple 3.34%,$dark-bule 128.25%);
    bottom: 0;
    width: 100%;
    left: 0;
    color: $white;
    text-align: center;
    justify-content: space-around;
    .menu-item {
        display: flex;
        flex-direction: column;
    }
}

@include break-point(mobile-view) {
  .cards {
    width: 90%;
  }

  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .ant-tabs-tab {
      min-width: 50%;
      &.ant-tabs-tab-active {
        color:$black;
        background: $white;
        font-weight: 500;
        min-width: 50%;
    
      }
  }
}

@include break-point(small-mobile-view) {
  .banner {
    width: unset;
  }
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  .ant-tabs-tab {
    min-width: 50%;
    &.ant-tabs-tab-active {
      color: $black;
      background: $white;
      font-weight: 500;
      min-width: 50%;
  
    }
}
}
