@import "../mixin";
.card {
    border: 0px !important;
  
    
        .img-wrapper {
            overflow: hidden;   
 
        }
    
   
      
    

   .card-body {
    padding: 0;
    
   .category-text {
      
       display: inline-block;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: .03em;
        line-height: 19px;
        margin-bottom: 10px;
        text-decoration: none;
        text-transform: uppercase;
        color : #551A8B;

   }
   .author-name {
    color: #1b91ff;
    display: block;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
   }
   
   .date-time {
    color: #898989;
    font-size: 11px;
    line-height: 142.97%;
   }
   .card-title {
    font-size: 18px;
    font-weight: 900;
    color : #1E1E1E;
    font-family: 'Roboto' sans-serif; 
    line-height: 26px;
    text-justify: inter-word;
    cursor: pointer;
   }
}


  &:hover {

            .card-img-top {
            cursor: pointer;
            border-radius: 2px;
            transform: scale(1.2);
            transition: .5s ease;
            }
          
            .card-title {
                color : #1b91ff
            }

        }
}

// @include break-point(mobile-view) {
//     .banner{
//         display: none;
//     }
// }

// @include break-point(small-mobile-view) {
//     .banner{
//         display: none;
//     }
// }


// @include break-point(mobile-table-view) {
//     .banner{
//         display: none;
//     }
// }

// @include break-point(tablet-view) {
//     .banner{
//         display: none;
//     }
// }
