@import "../mixin";

.cards {
   width: 70%;
   margin: 30px auto;
}

.banner {
    position: relative;
    background-blend-mode: overlay;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;

    &.mobile {
        padding: 20px;
        background: linear-gradient(136.04deg,#1b91ff -.78%,#9f49e3 92.66%);

        .mobile-nav {
            display: flex;
            justify-content: space-between;
           
          
            svg {
              color: white;
              height: 35px;
              width: 23px;
            }
    
          
        }

        .spotlight-text {
            background-color: #1b91ff;
            color: #fff;
            display: block;
            padding: 10px 16px;
            text-decoration: none;
            border-radius: 20px;
            width: 100px;
            margin-top: 12px;
        }

        .card {
            width: 310px;
            margin-right: 20px;
            height: 350px;
            margin-top: 15px;

            .card-body {
                text-align: center;
                padding: 25px;
                color: #1b91ff;


            .card-title {
                color: #242323;
                display: block;
                font-size: 22px;
                font-weight: 700;
                line-height: 31px;
                text-decoration: none;
                vertical-align: baseline;

            }

            .category-text {
                color: inherit;
                display: block;
                font-size: 13px;
                font-weight: 700;
                line-height: 19px;
                text-decoration: none;
                text-transform: uppercase;
                // margin-top: 13px;
            }

            .card-readMore{
                color: inherit;
                text-decoration: none;
                text-transform: uppercase
            }

           

        }

        }

        .featured-cards {
            overflow-x: auto;
            overflow-y: hidden;
           
            .card-ele {
                display: inline-flex;

               
            }
        }
        

    }
    
    &.desktop {
    position: relative;
    background-image: url('https://s4.scoopwhoop.com/anj2/60547185c8d1115b02424f3a/77808a56-3907-44bd-a6f2-e270996c225c.jpg'),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));    
    object-fit: contain;
    }

    .header-article {
        display: block;
        position: absolute;
        top : 250px;
        z-index: 99;
        width: 70%;
        margin-left: 40px;
        .header-text{
            color: #fff;
           text-decoration: none
           }
       
           .header-category{
            background: linear-gradient(136.04deg,#1b91ff -.78%,#9f49e3 92.66%) no-repeat;
            color: #fff;
            display: inline-block;
            font-size: 13px;
            font-weight: 700;
            line-height: 19px;
            margin-bottom: 20px;
            padding: 1px 15px;
            text-decoration: none;
            text-transform: uppercase;
            }

        .header-read {
            font-size: 14px;
            font-weight: 500;
            line-height: 142.97%;
            background: linear-gradient(136.04deg,#1b91ff -.78%,#9f49e3 92.66%) no-repeat;
            display: inline-block;
        }
    }

   

    header {

        padding: 20px 40px;
              
        .navlist-left {
            display: flex;
            margin-top: 15px;
            justify-content: space-evenly;

          
        

            .nav-item {
                font-size: 15px;
                font-weight: 700;
                color: #1b91ff;
                text-transform: uppercase;
                justify-content: space-evenly ;
                cursor: pointer;
                min-width: 30px;
                max-width: 30px;

                &:hover {
                font-size: 17px;
                font-weight: 900;
                color: #1b91ff;
                transform: scale(1);
                transition: transform .3s,-webkit-transform .3s,-o-transform .3s;

                }

                &.nav-item-sticky {
                    color:  #747070;
                    &:hover {
                      color:   #747070;
                    }
                }
    
            }

           
        }
        
        

    svg {
          color : #1b91ff;
          cursor : pointer;
          font-weight : 900 ;
          font-size: 18px ; 
          min-width: 30px;
          max-width: 30px;

          &:hover {
            font-size: 21px;
            font-weight: 900;
            color: #1b91ff;
            transform: scale(1);
            transition: transform .3s,-webkit-transform .3s,-o-transform .3s;

            }
      }


    }


    ::after ::before {
        background: linear-gradient(180deg,rgba(0,0,0,.9) 0,rgba(30,30,30,0) 58.02%);
    }

}

.sticky {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fff;
    height: 75px;
    width: inherit;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
    transition: all .1s linear;

}

::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

// @include break-point(mobile-view) {
//     .banner{
//         display: none;
//     }
// }

// @include break-point(small-mobile-view) {
//     .banner{
//         display: none;
//     }
// }


// @include break-point(mobile-table-view) {
//     .banner{
//         display: none;
//     }
// }

// @include break-point(tablet-view) {
//     .banner{
//         display: none;
//     }
// }

