.cards {
   width: 70%;
   margin: 30px auto;
}
.header {

    .navlist{
        position: absolute;
        top:15px;
        z-index :1;
        margin-left: 40px;
        display: flex;
        // width: 100vw; 
        align-items: center;

        .nav-left{
            display: flex;
            // width: 40%;
            margin-left: 30px;
            // justify-content: space-between;
        }

        .nav-right {
            display: flex;
            // width: 30%;
            margin-left: 20px;
            // justify-content: space-between;
        }

        .nav-item {
            text-decoration: none;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: .03em;
            color: #1b91ff;

        }

      

        

    }





    .header-article {
        display: block;
        position: absolute;
        top : 250px;
        z-index: 99;
        width: 70%;
        margin-left: 40px;
        .header-text{
            color: #fff;
           text-decoration: none
           }
        .header-category{
        background: linear-gradient(136.04deg,#1b91ff -.78%,#9f49e3 92.66%) no-repeat;
        color: #fff;
        display: inline-block;
        font-size: 13px;
        font-weight: 700;
        line-height: 19px;
        margin-bottom: 20px;
        padding: 1px 15px;
        text-decoration: none;
        text-transform: uppercase;
        }

        .header-read {
            font-size: 14px;
    font-weight: 500;
    line-height: 142.97%;
    background: linear-gradient(136.04deg,#1b91ff -.78%,#9f49e3 92.66%) no-repeat;
    display: inline-block;
        }
    }
  
//   //  background-image: url('https://s4.scoopwhoop.com/anj2/60547185c8d1115b02424f3a/77808a56-3907-44bd-a6f2-e270996c225c.jpg');
//     width: 100vw;
//     height: 20vh;
}


.banner {
    position: relative;
    background-image: url('https://s4.scoopwhoop.com/anj2/60547185c8d1115b02424f3a/77808a56-3907-44bd-a6f2-e270996c225c.jpg'),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    object-fit: contain;

    .header-article {
        display: block;
        position: absolute;
        top : 250px;
        z-index: 99;
        width: 70%;
        margin-left: 40px;
        .header-text{
            color: #fff;
           text-decoration: none
           }
       
           .header-category{
            background: linear-gradient(136.04deg,#1b91ff -.78%,#9f49e3 92.66%) no-repeat;
            color: #fff;
            display: inline-block;
            font-size: 13px;
            font-weight: 700;
            line-height: 19px;
            margin-bottom: 20px;
            padding: 1px 15px;
            text-decoration: none;
            text-transform: uppercase;
            }

        .header-read {
            font-size: 14px;
            font-weight: 500;
            line-height: 142.97%;
            background: linear-gradient(136.04deg,#1b91ff -.78%,#9f49e3 92.66%) no-repeat;
            display: inline-block;
        }
    }

    header {

        padding: 20px 40px;
        
        
        .navlist-left {
            display: flex;
            margin-top: 15px;
            justify-content: space-evenly;
        

            .nav-item {
                font-size: 15px;
                font-weight: 700;
                color: #1b91ff;
                text-transform: uppercase;
                justify-content: space-evenly ;
                cursor: pointer;
                min-width: 30px;
                max-width: 30px;

                &:hover {
                font-size: 17px;
                font-weight: 900;
                color: #1b91ff;
                transform: scale(1);
                transition: transform .3s,-webkit-transform .3s,-o-transform .3s;

                }
            }

        }

    svg {
          color : #1b91ff;
          cursor : pointer;
          font-weight : 900 ;
          font-size: 18px ; 
      }


    }


    ::after ::before {
        background: linear-gradient(180deg,rgba(0,0,0,.9) 0,rgba(30,30,30,0) 58.02%);
    }

}

